.Trash-0/
/workspace/RAG_trail/venv4bot
/workspace/FINETUNING/.venv
/workspace/venv4instructmaker
.venv
venv4bot
venv4instructmaker
/workspace/checkpoints
checkpoints
/workspace/FINETUNING/llama-finetuned
llama-finetuned
/workspace/FINETUNING/llama-merged
llama-merged
/workspace/FINETUNING/processed_dataset/
.ipynb_checkpoints
processed_dataset
/workspace/FINETUNING/results/final_model/adapter_model.safetensors
FINETUNING/processed_dataset/train/cache-*.arrow

FINETUNING/results/final_model/adapter_model.safetensors
